<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CrocCSharpBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CrocCSharpBot.Properties.Settings>
        <setting name="Token" serializeAs="String">
            <value>1181297092:AAGGpd_9m1yCVNYwJeCrJP2AfD9YnqVwLBY</value>
        </setting>
        <setting name="FileName" serializeAs="String">
            <value>c:\botstate.xml</value>
        </setting>
        <setting name="TimerTickInMilliseconds" serializeAs="String">
            <value>1000</value>
        </setting>
        <setting name="TimeOutInSeconds" serializeAs="String">
            <value>5</value>
        </setting>
        <setting name="Storage" serializeAs="String">
            <value>DatabaseFirstStorage</value>
        </setting>
        <setting name="ConnectionString" serializeAs="String">
            <value>Data Source=.\SQLEXPRESS;Initial Catalog=CSHARP20;Integrated Security=SSPI;App=CrocCSharpBot;</value>
        </setting>
    </CrocCSharpBot.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="CrocCSharpBot.ControlService">
        <endpoint address="" binding="basicHttpBinding" contract="CrocCSharpBot.IContolService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/CrocCSharpBot/ContolService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBFirst" connectionString="metadata=res://*/DBFirst.csdl|res://*/DBFirst.ssdl|res://*/DBFirst.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=CSHARP20;integrated security=True;application name=CrocCSharpBot;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>