<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BotControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <applicationSettings>
        <BotControlPanel.Properties.Settings>
            <setting name="TimerIntervalInMilliseconds" serializeAs="String">
                <value>1000</value>
            </setting>
        </BotControlPanel.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContolService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/CrocCSharpBot/ContolService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContolService"
                contract="ControlReference.IContolService" name="BasicHttpBinding_IContolService" />
        </client>
    </system.serviceModel>
</configuration>